<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Our CSS -->
    <link rel="stylesheet" href="/static/styles.css">

    <title>Chat Chat</title>
    <link rel="shortcut icon" href="/static/logo.ico" />
    <script>
        var photo_base64 = '{{ photo }}';
  </script>
</head>
<body>
<!-- Page Content -->
<div class="container">

    <!-- Heading -->
    <h1 class="my-4">Chat Chat
        <img width="30px" src="/static/logo.png" alt="logo" />
        <small>Welcome</small>
    </h1>


    <div class="row">
        <div class="col-md-8 col-sm-8 mb-4">
            <h2>{{ name }}</h2>
        </div>
        <div class="col-md-4 col-sm-4 mb-4">
            <div id="img"></div>
        </div>
    </div>

    <script>
        var image = new Image();
        image.src = 'data:  image/png;base64,'+photo_base64;
        document.getElementById("img").innerHTML = "<img src='"+image.src+"' />";
    </script>


    <!-- Row -->
    <form action="{{ userid }}/location" method="post">
        <h4>Define new location ({{ lat }}:{{ long }})</h4>
        <div class="row" style="padding: 15px">
            <div class="col-md-4 col-sm-4 mb-4" >
                <div class="form-group">
                    <input type="text" class="form-control" id="lat" name="lat" placeholder="Enter latitude">
                </div>
            </div>
            <div class="col-md-4 col-sm-4 mb-4">
                <div style="text-align: left;" class="form-group">
                    <input type="text" class="form-control" id="long" name="long" placeholder="Enter longitude">
                </div>
            </div>
            <div class="col-md-4 col-sm-4 mb-4">
                <button type="submit" style="border-radius: 0px;" class="btn btn-default btn-dark">Submit</button>
            </div>
        </div>
    </form>
    <!-- /.row -->
    <!-- Row -->
    <form action="{{ userid }}/send" method="post">
    <h4>Send messages</h4>
        <div class="row" style="padding: 15px">
            <div class="col-md-8 col-sm-8 mb-8">
                <input type="text" class="form-control" id="msg" name="msg" placeholder="Enter message">
            </div>
            <div class="col-md-4 col-sm-4 mb-4">
                <div class="form-group">
                    <button type="submit" style="border-radius: 0px;" class="btn btn-default btn-dark">Submit</button>
                </div>
            </div>
        </div>
    </form>
    <!-- /.row -->

    <h4>Receive messages</h4>
    <div class="row" style="padding: 15px">
    </div>

    <h4>Near me</h4>
    <div class="row" style="padding: 15px">
    </div>

</div>
<!-- Footer -->
<footer class="py-5 bg-dark">
    <!-- Container -->
    <div class="container">
        <p class="m-0 text-center text-white">2018, Made with <img width="15px" src="/static/love.png"> for Internet Based Systems Architecture </p>
    </div>
    <!-- /.container -->
</footer>
<!-- /.footer -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>