<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Our CSS -->
    <link rel="stylesheet" href="{{ url_for('appUser.static', filename='styles.css') }}">
    <title>Le Chat</title>
    <link rel="shortcut icon" href="{{ url_for('appUser.static', filename='logo.ico') }}" />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>
        var photo_base64 = '{{ photo }}';
        var u_id = '{{ userid }}';
    </script>
    <script src="{{ url_for('appUser.static', filename='user.js') }}"></script>
</head>
<body>

<div class="container-fluid mycontainer">
    <div class="row" style="margin-top:30px">
        <div class="col-md-4 col-sm-4 mb-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">
                        <img width="30px" src="{{ url_for('appUser.static', filename='logo.png') }}" alt="logo" />
                        <small>My Profile</small>
                    </h4>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 mb-4">
                                <div id="myimg"></div>
                            </div>
                            <div class="col-md-8 col-sm-8 mb-8">
                                <p>{{ name }}</p>
                            </div>
                        </div>
                        <script>
                            var image = new Image();
                            image.src = 'data:  image/png;base64,' + photo_base64;
                            document.getElementById("myimg").innerHTML = "<img id='profile' src='" + image.src + "'/>";
                        </script>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 mb-12">
                                <p>Define new location ({{ lat }}:{{ long }})</p>
                            </div>
                        </div>
                        <form action="{{ userid }}/location" method="post">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 mb-4 form-group">
                                    <input type="text" class="form-control" id="lat" name="lat" placeholder="Latitude">
                                </div>
                                <div class="col-md-4 col-sm-4 mb-4 form-group">
                                    <input type="text" class="form-control" id="long" name="long" placeholder="Longitude">
                                </div>
                                <div class="col-md-4 col-sm-4 mb-4 form-group" style="text-align:center">
                                    <button type="submit" style="border-radius: 0px;" class="btn btn-default btn-dark">Submit</button>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 mb-12">
                                <p>Define new range ({{ range }})</p>
                            </div>
                        </div>
                        <form action="{{ userid }}/range" method="post">
                            <div class="row">
                                <div class="col-md-8 col-sm-8 mb-8 form-group">
                                    <input type="text" class="form-control" id="range" name="range" placeholder="Range">
                                </div>
                                <div class="col-md-4 col-sm-4 mb-4 form-group" style="text-align:center">
                                    <button type="submit" style="border-radius: 0px;" class="btn btn-default btn-dark">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-footer" style="text-align:center">
                    <form action="{{ userid }}/logout" method="post">
                        <div class="form-group">
                            <button type="submit" style="border-radius: 0px;" class="btn btn-default btn-light ">Logout</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 mb-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">
                        <img width="30px" src="{{ url_for('appUser.static', filename='logo.png') }}" alt="logo" />
                        <small>Near me</small>
                    </h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 mb-12">
                            <p style="font-weight: bold;color:#343A40">In my Range</p>
                        </div>
                    </div>
                    <div class="row" id="byrange">
                    </div>
                    <form id="br_form" action="{{ userid }}/send/nearby_range" method="post">
                        <div class="row" style="padding-top: 20px">
                            <div class="col-md-8 col-sm-8 mb-8 form-group">
                                <input type="text" class="form-control" id="msg_nbr" name="msg_nbr" placeholder="Message">
                            </div>
                            <div class="col-md-4 col-sm-4 mb-4 form-group" style="text-align:center">
                                <button type="submit" style="border-radius: 0px;" class="btn btn-default btn-dark">Submit</button>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 mb-12">
                            <p style="font-weight: bold;color:#343A40">In my Building</p>
                        </div>
                    </div>
                    <div class="row" id="bybuilding">
                    </div>
                    <form id="bb_form" action="{{ userid }}/send/nearby_building" method="post">
                        <div class="row" style="padding-top: 20px">
                            <div class="col-md-8 col-sm-8 mb-8 form-group">
                                <input type="text" class="form-control" id="msg_nbb" name="msg_nbb" placeholder="Message">
                            </div>
                            <div class="col-md-4 col-sm-4 mb-4 form-group" style="text-align:center">
                                <button type="submit" style="border-radius: 0px;" class="btn btn-default btn-dark">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 mb-4">
            <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                    <img width="30px" src="{{ url_for('appUser.static', filename='logo.png') }}" alt="logo" />
                    <small>Inbox</small>
                </h4>
            </div>
            <div class="card-body" id="new_msgs">
            </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">2018, Made with <img width="15px" src="{{ url_for('appUser.static', filename='love.png') }}"> for Internet Based Systems Architecture </p>
    </div>
</footer>
</body>
</html>